# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log


# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Large raw backup exports
*.xml
*.tar.gz
tools/
.bin/
